
:root {
  --blue-100: #E9F2FC;
  --blue-200: #BCD8F6;
  --blue-300: #62A5EA;
  --blue-500: #1C72CA;
  --blue-600: #16599E;
  --blue-700: #0F3F70;
  --neutral-100: #EDEDED;
  --neutral-200: #C2C2C2;
  --neutral-500: #686868;
  --black: #0F0F0F;
  --white: #ffffff;

  /* Semantic alias */
  --color-primary: var(--blue-600);
  --accent-green: #65B888;
  --accent-red: #DE4E19;
  --accent-yellow: #F2C60F;
  --color-text: var(--black);
  --color-link: var(--blue-600);
  --color-text-inverted: var(--white);
  --color-text-inverted-muted: var(--blue-200);
  
  --color-background-light: var(--blue-100);
  --color-border: var(--neutral-200);
  --color-border-primary: var(--blue-500);
  --color-border-inverted: rgba(255,255,255, 0.45);
  --color-icon: var(--blue-500);
  --color-icon-inverted: var(--white);
  --color-button: var(--color-primary);
  --color-button-hover: var(--blue-700);
}

body {
    font-family: "Red Hat Display", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
}

p, h1, h2 {
    letter-spacing: 0.06rem;
    word-spacing: 0.08rem;
}

header {
    height: 60px;
}

.nav-items {
    font-weight: 700;
    color: var(--color-link);
}

.nav-items li {
    border: 2px solid transparent;
}

.nav-items .nav-selected, .nav-items li:hover {
    border-bottom: 2px solid var(--color-primary);
}
.container-custom {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-light-blue {
    background-color: var(--color-background-light);
}

.text-link {
    color: var(--color-link);
}

.border-primary {
    border-color: var(--color-primary);
}

.icon-circle {
    border-color: var(--color-border-primary);
}

.icon-circle svg {
    width: 32px;
    height: 32px;
    color: var(--color-icon);
}

.btn-primary {
    background-color: var(--color-button);
    color: var(--color-text-inverted);
    height: 40px;
    padding: 0 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s;
}

.btn-primary:hover {
    background-color: var(--color-button-hover)
}

.btn-primary:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

.accordion-content {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

.accordion-content.active {
    max-height: 500px;
}

.card-image {
    background-color: #ededed;
}

.hero {
    background-image: url(images/hero-image2.png);
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 340px;
    background-color: var(--color-primary);
}

.hero-content {
    background-color: var(--color-primary);
}

.border-subtle {
    border: 1px solid;
    border-color: var(--neutral-200);
}

footer .text-muted {
    color: var(--color-text-inverted-muted);
}

@media (max-width: 640px) {
    .hero {
        min-height: 560px;
        background-size: 340%;
        background-image: url(images/hero-image-mobile.png);
        background-position: bottom right;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .scrollbar-hide {
        overflow-x: hidden;
    }
}

.footer-divider {
    border-color: var(--color-border-inverted);
}

.accordion-divider {
    border-color: var(--color-border-primary);
}