
:root {
  --blue-100: #E9F2FC;
  --blue-200: #BCD8F6;
  --blue-300: #62A5EA;
  --blue-500: #1C72CA;
  --blue-600: #16599E;
  --blue-700: #0F3F70;
  --neutral-100: #EDEDED;
  --neutral-200: #C2C2C2;
  --neutral-500: #686868;
  --neutral-700: #374151;
  --black: #0F0F0F;
  --white: #ffffff;

  /* Semantic alias */
  --color-primary: var(--blue-600);
  --accent-green: #65B888;
  --accent-red: #DE4E19;
  --accent-yellow: #F2C60F;
  --color-text: var(--black);
  --color-text-muted: var(--neutral-700);
  --color-link: var(--blue-700);
  --color-text-inverted: var(--white);
  --color-text-inverted-muted: var(--blue-200);
  --color-background-container: var(--white);
  --color-background-elevated: var(--blue-100);
  --color-background-hero: var(--blue-600);
  --color-background-footer: var(--blue-600);
  --color-background-hero: var(--blue-600);
  --color-border: var(--neutral-200);
  --color-border-primary: var(--blue-500);
  --color-border-inverted: rgba(255,255,255, 0.45);
  --color-icon: var(--blue-500);
  --color-icon-inverted: var(--white);
  --color-button: var(--color-primary);
  --color-button-hover: var(--blue-700);
  --color-logo: var(--blue-600);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Red Hat Display", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: var(--color-text);
    background-color: var(--color-background-container);
}

p, h1, h2, h3, li, .btn-primary {
    letter-spacing: 0.05rem;
    word-spacing: 0.16rem;
}

header {
    height: 60px;
}

nav .logo {
    color: var(--color-logo);
}
.nav-items a {
    font-weight: 700;
    color: var(--color-link);
}

aside nav a {
    color: var(--color-link);
    font-size: 1rem;
}

.nav-items li a {
  position: relative;
}

.nav-items li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px; /* control how far below text the underline sits */
  width: 100%;
  height: 6px; /* underline thickness */
  background-color: var(--color-primary);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease;
}

.nav-items li:hover a::after,
.nav-items .nav-selected a::after {
  transform: scaleX(1);
}

.container-custom {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-container {
    background-color: var(--color-background-container);
}

.color-icon {
    color: var(--color-icon);
}

.bg-darker {
    background-color: var(--color-background-elevated);
}

.text-link {
    color: var(--color-link);
}

.text-inverted {
    color: var(--white);
}

.text-muted {
    color: var(--color-text-muted);
}

.border-primary {
    border-color: var(--color-primary);
}

.icon-circle {
    border-color: var(--color-border-primary);
    color: var(--color-icon);
}

.color-icon {
    color: var(--color-icon);
}

.icon-circle svg {
    width: 32px;
    height: 32px;
}

.btn-primary {
    background-color: var(--color-button);
    color: var(--color-text-inverted);
    min-height: 44px;
    padding: 8px 16px;
    font-size: 1.125rem;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s;
}

.btn-primary:hover {
    background-color: var(--color-button-hover)
}

.btn-primary:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

.accordion-content {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

.accordion-content.active {
    max-height: 500px;
}

.card-image {
    background-color: #ededed;
}

.hero {
    background-image: url(images/hero-image2.png);
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 340px;
}

.hero-content {
    background-color: var(--color-background-hero);
}

.border-subtle {
    border: 1px solid;
    border-color: var(--color-border);
}

.bg-footer {
    background-color: var(--color-background-footer);
}

footer .text-muted {
    color: var(--color-text-inverted-muted);
}

@media (max-width: 640px) {
    .hero {
        min-height: 560px;
        background-size: 340%;
        background-image: url(images/hero-image-mobile.png);
        background-position: bottom right;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .scrollbar-hide {
        overflow-x: hidden;
    }
}

.footer-divider {
    border-color: var(--color-border-inverted);
}

.accordion-divider {
    border-color: var(--color-border-primary);
}

/* Dark mode */
[data-theme="dark"] {
  --color-background-container: #131313;
  --color-background-elevated: #282828;
  --color-background-footer: #282828;
  --color-background-hero: #143b65;
  --color-text: #f5f5f5;
  --color-text-inverted: #ffffff;
  --color-link: var(--blue-200);
  --color-text-inverted-muted: var(--neutral-200);
  --color-text-muted: var(--neutral-200);
  --color-border: #333333;
  --color-border-primary: var(--neutral-500);
  --color-icon: #9CA3AF;
  --color-logo: #f5f5f5;
  --border-color: var(--neutral-700);
}